.alice-related-posts ul {
	list-style: none;
	margin: 0!important;
	display: flex;
	flex-wrap: wrap;
}

.alice-recent-post {
	list-style: none;
	width: 33.33%;
	flex: 0 0 33.33%;
}

.alice-recent-thumb-wrap {
	display: inline-block;
	width: 100%;
    height: 150px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.alice-recent-link {
	display: inline-block;
	padding: 8px 8px;
	text-align: center;
}

.alice-recent-thumb-wrap img {
	float: none!important;
}

.alice-recent-title {
    display: block;
}

.alice-recent-title.left_img {
    float: left;
    width: calc( 60% - 7px );
    padding-left: 7px;
}

.alice-recent-thumb-wrap.left_img {
    float: left;
    width: 40%!important;
}

.preview_wrap {
    position: absolute;
    /*left: 0;*/
    /*transform: translateX(-50%);*/
    width: 300px;
    /*top: 28px;*/
}

.preview {
	width: 100%;
	box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    /*background: #dedede;*/
    padding: 11px;
    align-items: center;
}

.preview_wrap:before {
	content: '';
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    left: 50%;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid;
    border-bottom-color: inherit;
}

.preview > img {
	/*max-width: 55px;*/
	align-self: flex-start;
	margin-right: 10px;
}

.preview > span {
	font-size: 10px;
	line-height: 1.4;
}

.alice_link {
	position: relative;
}

.preview_wrap {
	display: none;
}