button:not(.dt-button),
input[type="submit"] {
/*	background-color: #2973aa;
    border: 1px solid transparent;
    outline: none;
    border-style: unset;
    outline-style: none;
    border-radius: 37px;
    padding: 11px 43px 10px;
    color: white!important;
    letter-spacing: 1.2px!important;
    font-weight: 500;
    font-size: 11px;
    line-height: 1;

    transition: color .3s, background-color .3s;*/
}

button:not(.dt-button):hover,
input[type="submit"]:hover {
	/*background-color: #191e23!important;*/
	/*color: #2973aa!important;*/
}

input[type="search"],
input[type="number"],
input[type="text"] {
	border-radius: 50px;
	border: 1px solid #dce0e5;
	text-align: center;
}

input[type="text"] {
	min-width: 250px;
}

input[name="alice-access-token"] {
	padding: 7px 14px;
	box-sizing: content-box;
	position: relative;
	font-size: 13px;
	vertical-align: middle;
	text-align: left;
	transition: border .3s;
}

input[name="alice-access-token"].hover {
	border-color: #191e23;
}

input[name="alice-token-submit-button"] {
	/*height: 100%;*/
    /*margin-left: -32px;*/
    /*padding: 11px 28px 11px 56px;*/
    /*font-size: 13px;*/
    /*vertical-align: middle;*/
    /*line-height: 1;*/
}

input[name="keyword-form-submit"] {
	padding: 10px 50px 9px;
}

input[type="search"] {
	outline: none!important;
	box-shadow: none!important;
}

a:hover,
a {
	color: #03a9f4;
}

.page-wrap:not(.preview_block_wrap) {
    padding-right: 20px;
}

.full-height {
    min-height: calc(100vh - 32px);
    position: relative;
}

.alice_align-center {
    position: absolute;
    width: 846px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.dataTables_filter {
	color: #236699!important;
}

.keywords_table .dataTables_wrapper .dataTables_length {
	margin-right: 15px;
	margin-bottom: 0px;
	display: block;
	width: 100%;
}

.dataTables_wrapper .dataTables_length label {
	display: flex;
	align-items: center;
	width: auto;
}

.dataTables_wrapper .dataTables_length label .select2-container {
	margin: 0 7px;
}


.select2-container .select2-choice > .select2-chosen {
	color: #717171;
    margin-right: 0!important;
    line-height: 1;
    padding-right: 8px;
}

.select2-container .select2-choice .select2-arrow {
	background: transparent!important;
	border-color: transparent!important;
	outline: none!important;
	border-radius: 0!important;
	position: relative!important;
	height: 20px!important;
	top: -3px!important;
}

.select2-container .select2-choice {
	outline: none;
	border: 1px solid #dce0e6!important;
	border-radius: 0!important;
	background: white!important;
	padding: 8px!important;
	height: auto!important;
	line-height: 1!important;
	max-width: 100%!important;
	display: flex!important;
	align-items: center;
}

.modal_message.success {
	background: #fff;
    border-left: 4px solid #fff;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    margin: 5px 15px 2px;
    border-left-color: green;
}

.select2-drop-active {
	border-color: #dce0e6!important;
}

.select2-results .select2-highlighted {
    background: #51b1f6!important;
    color: white!important;
}

@keyframes spin{
	from {
		transform:rotate(0deg)
	}
	to {
		transform:rotate(360deg)
	}
}

.spin-loader {
	position:absolute;
	left: calc(50% - 35px);
    top: calc(50% - 35px);
	z-index: 9999;
	min-width:initial;
	min-height:initial;
	background:transparent;
	display:inline-block;
	width: 70px;
	height:70px;
	border: 5px solid #9cf3f3;
	border-radius: 50%;
	animation: spin 1.15s infinite linear;
	border-color: transparent;
	border-top-color: #9cf3f3;

	transition: opacity .3s;
}

.spin-loader.top {
	top: 250px;
}

.spin-loader:before,
.spin-loader:after{
	left: -5px;
	top: -5px;
	display: none;
	position: absolute;
	content:'';
	width:inherit;
	height:inherit;
	border:inherit;
	border-radius:inherit
}

.spin-loader:before{
	display:inline-block;
	border-color:transparent;
	border-top-color: #9cf3f3;
	animation: spin 1.5s infinite ease;
}

.table-responsive {
	position: relative;
}

.table-responsive.max_height {
	max-height: 789px;
	overflow: hidden;
}

.table-responsive-overlay {
	position: fixed;
	/*position: absolute;*/
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	left: 0;
	top: 0;
	z-index: 2;
}

.alice-stat-table:before{

}

.al-form-field label {
	max-width: 100%;
    font-size: 13px;
    vertical-align: middle;
    padding-right: 10px;
    margin: 0;
}

.al-form-field {
	/*max-width: 615px;*/
	position: relative;
}

.alice_align-center form {
	max-width: 846px;
	margin: 0 auto;
	background-color: #f2f4f5;
	text-align: center;
	border: 1px solid #dce0e5;
}

.al-btn-align-left {
	text-align: right;
	padding: 0 25px;
}

.alert-ms {
    width: 100%;
    margin-top: 15px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 1px 14px rgba(0,0,0,.2);
    position: relative;
    padding: 15px;
    color: red;
    line-height: 2;
}

.alice-main-title span {
	vertical-align: bottom;
	/*text-align: center;*/
}

.close-alert-ms {
	position: absolute;
	right: 8px;
	top: 8px;
}

.alice-main {
	/*width: calc( 100% - 180px);*/
	/*transform: translateX(160px);*/
}

.alice-modal-wrap {
	display: none;
	cursor: auto;

	padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.show-keywords {
	cursor: pointer;
}

.keyword_in_modal_close {
    display: inline-block;
    padding: 8px;
    border: 1px solid;
    border-radius: 3px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 5px;
    margin-right: 5px;
    line-height: 1;

    color: #03a9f4;
}

.keyword_in_modal_close a {
	color: #00496b;
	text-decoration: none!important;
}

.keyword_in_modal_close.red {
	border-color: transparent;
	color: #e57373;
	background: #fae3e3;
}

.keyword_in_modal_close.red a {
	color: white;
	text-decoration: none;
}

.keyword_in_modal_close:focus {
	outline: none;
    border-color: green;
    border-width: 2px;
}

.close_icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    font-size: 0;
    cursor: pointer;
}

.close_icon img {
	width: 10px;
}

.alice-modal-main > span {
	vertical-align: middle;
}

.keyword-tooltip {
	position: absolute;
	top: calc(100% + 10px);
	border: 1px solid black;
	border-radius: 3px;
	z-index: 10;
	background-color: rgba(0,0,0, 0.85);
	padding: 10px;
	left: 50%;
	transform: translate(-50%, 0);
	min-width: 230px;
	color: white;
}

.keyword-tooltip:after {
	content: '';
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translate(-50%, 0);
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 10px solid rgba(0,0,0, 0.85);
}

.keyword-tooltip:before {
    content: '';
    width: 100%;
    z-index: 1;
    background: transparent;
    height: 10px;
    position: absolute;
    top: -11px;
    left: 0;
}

.keyword-info {
    /*max-height: 240px;*/
    /*overflow-y: auto;*/
}

.keyword-info > div {
	padding-bottom: 5px;
}

.close-alert-ms,
.alice-modal-btn {
	cursor: pointer;
}

.alice-modal-btn.submit-btn {
	/*padding: 8px 35px 7px;*/
	outline: none;
	color: #77bef6;
	border: none;
	background: transparent;
	font-weight: bold;
}

.alice-modal-btn.green {
	color: #7fcc6e!important; 
}

button.event_all_accordion {
	margin-right: 4px;
	padding: 7px 43px 7px;
}

.modal_message {
	padding: 20px!important;
	font-size: 18px;
	margin-left: 0!important;
}

.alice-sidebar {
	height: 100%;
	/*background: #3e4852;*/

	position: relative;
	left: auto;
	top: auto;
	width: 100%;
	margin-top: 15px;
}

.alice-sidebar ul {
	margin: 0;
	display: flex;
}

.alice-sidebar ul li {
	/*text-align: center;*/
	/*margin: 0;*/
}

.alice-sidebar ul li a {
	/*color: #fff;
	outline: none;
	box-shadow: none;
	font-size: 15px;
	display: inline-block;
	padding: 8px 0;
	width: 100%;

	transition: color .3s, background-color .3s;*/
}

.alice-sidebar ul li a:hover {
	/*text-decoration: none;
	background-color: #191e23;
	color: #2973aa;*/
}

.alice-sidebar ul li.alice_current_page a {
/*	background: #2973aa;
	color: #fff;*/
}

.disabled_link {
	pointer-events: none;
}

button.alice-modal-btn.submit-btn.proccessing {
	color: transparent!important;
	background-image: url('../img/loader.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

/*TABLE*/
.alice-stat-table {
	/*background-color: #006699;*/
	/*border-radius: 10px;*/
	/*border: 1px solid #006699;*/
	/*overflow: hidden;*/
}

table.dataTable.no-footer {
    /* border-bottom: 1px solid #111; */
    border: 1px solid #dce0e5;
}

table.alice-stat-table tbody tr {
	height: 50px;
}

table.alice-stat-table thead tr {
	background-color: white;
}

table.alice-stat-table tbody td {
	color: #434343;
	border-bottom: 1px solid #dce0e5;
	border-right: 1px solid #dce0e5;
}

table.alice-stat-table thead th {
	outline: none;
	color: #4c4c4c;
	font-size: 14px;
	border-right: 1px solid #dce0e5;
}

table.alice-stat-table thead th:not(.title) {
	text-align: center;
}

table.alice-stat-table tbody > tr.selected, 
table.alice-stat-table tbody > tr > .selected {
	/*background-color: #dedede;*/
	background: #eef6fb;
}

table.alice-stat-table tbody > tr td .error {
	color: red;
}

table.alice-stat-table tbody > tr td .success {
	color: green;
}

.dataTables_wrapper .dataTables_info {
	color: #717171;
}

.dataTables_wrapper .dataTables_paginate,
.dataTables_wrapper .dataTables_info {
	width: 100%;
}

.dataTables_wrapper .dataTables_paginate {
	text-align: center;
	padding: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	border: none!important;
    outline: none !important;
    color: #363b3f!important;
    background-color: transparent;

    transition: color .3s, background-color .3s;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, 
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
	background: #77bef6 !important;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	background: #77bef6 !important;
    color: white !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled {
	pointer-events: none;
}

table.dataTable tbody td.select-checkbox:before, 
table.dataTable tbody td.select-checkbox:after, 
table.dataTable tbody th.select-checkbox:before, 
table.dataTable tbody th.select-checkbox:after {
	width: 18px;
	height: 18px;
}

table.dataTable tr.selected td.select-checkbox:after, 
table.dataTable tr.selected th.select-checkbox:after {
	margin-top: -2px;
	margin-left: 1px;
	transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

table.dataTable tbody td.select-checkbox:before, 
table.dataTable tbody th.select-checkbox:before {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	margin-top: 0;
	margin-left: 0;
}

table.dataTable thead th, 
table.dataTable thead td {
	position: relative;
	padding: 10px;
	border-bottom: 1px solid #dce0e5;
}

table.dataTable tbody td.select-checkbox:before, 
table.dataTable tbody th.select-checkbox:before {
	border: 1px solid #dce0e5;
}

table.dataTable tr.selected td.select-checkbox:before, 
table.dataTable tr.selected th.select-checkbox:before {
	background-color: #77bef6;
	border: none;
}

table.dataTable tr.selected td.select-checkbox:after, 
table.dataTable tr.selected th.select-checkbox:after {
	content: '';
	position: absolute;
	top: calc(50% - 6px);
	left: 50%;
	transform: rotate(-51deg) translate(-50%, -50%);
	width: 12px;
	height: 8px;
	background-color: transparent;
	border: 2px solid white;
	border-top: none;
	border-right: none;
}

[for="select_all_keywords"] {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
}

[for="select_all_keywords"]:before {
	content: ' ';
	border: 1px solid #dce0e5;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	position: absolute;

}

.selected_custom_check:before {
	background-color: #77bef6;
	    border: none;
}

.selected_custom_check:after {
	content: '';
    position: absolute;
    top: calc(50% - 6px);
    left: 50%;
    transform: rotate(-51deg) translate(-50%, -50%);
    width: 12px;
    height: 8px;
    background-color: transparent;
    border: 2px solid white;
    border-top: none;
    border-right: none;
    margin-top: -2px;
        margin-left: 1px;
}

#select_all_keywords {
	display: none;
}

.show-keywords .keywords-title {
	color: #03a9f4;
	transition: color .3s;
}

.show-keywords:not(.open):hover > .keywords-title {
	color: #03a9f4;
}

.alice-modal-wrap.open-first {
	display: block;
}

button.dt-button {
	background-color: #f1a92e;
	border: 1px solid transparent;
	outline: none;
	border-style: unset;
	outline-style: none;
	border-radius: 4px;
	color: white!important;
	letter-spacing: 1.2px!important;
	font-weight: 500;
	transition: color .3s, background-color .3s;
	background-image: none;
	margin-bottom: 0;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
}

.dt-buttons {
	float: left;
	padding-top: 3px;
	margin-bottom: 20px;

	display: flex;
	align-items: center;
}

button.dt-button:hover:not(.disabled) {
	background-image: none;
	box-shadow: none;
	border: none;
	color: #ffffff;
    background-color: #ec971f;
    border-color: #d58512;
}

.send_posts_to_server input[type="submit"] {
	font-size: 17px;
	padding: 11px 43px 12px;
}

*, *:before, *:after {
	box-sizing:border-box;
}

.container-clicks {
	max-width: 100%;
	display:flex;
	justify-content:center;
	min-height:100vh;
}

.table {
	width:100%;
	border:1px solid #EEEEEE;
}

.table-header {
	display:flex;
	width:100%;
	/*background:#363b3f;*/
	/*padding: 18px 0;*/
	border: 1px solid #434343;
	background: white;
}

.table-content {
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
}

.table-row {
	display:flex;
	width:100%;
	/*padding: 18px 0;*/
	border-bottom: 1px solid #434343;
	background: white;
}
.table-row:nth-of-type(odd) {
	/*background: #EEEEEE;*/
}

.table-data:nth-child(1), 
.header__item:nth-child(1) {
	flex: 1 1 3%;
}

.table-data:last-child, 
.header__item:last-child {
	flex: 1 1 3%;
}

.table-data, .header__item {
	flex: 1 1 16.66%;
	text-align:center;
}

.table-data:not(:last-child),
.header__item:not(:last-child) {
	border-right: 1px solid #434343;
}

.header__item {
	padding: 14px 0;
	text-transform:uppercase;
}

.filter__link {
	color:#434343;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:24px;
	padding-right:24px;
}

.filter__link:after {
	content:'';
	position:absolute;
	right: calc(-12*1.5);
	color:white;
	font-size: calc(24/2);
	top: 50%;
	transform: translateY(-50%);
}

.filter__link.asc:after {
	content: '(desc)';
}

.filter__link.desc:after {
	content: '(desc)';
}

.table-data {
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="submit"].proccessing {
    color: transparent!important;
    background-image: url(../img/loader.gif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.wrapper-recent-post-form h1 {
	margin-bottom: 0;
}

.recent-post-form > p:nth-last-of-type(2) {
	margin-bottom: 0;
}

.recent-post-form > p:first-of-type {
	/*margin-top: 0;*/
}

.custom_checkbox_wrap {
	width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.submit_wrap {
	margin-top: 0;
	padding-top: 20px;
}

.custom_checkbox_wrap label {
	margin-bottom: 0;
	margin: 0 7px;
}

#enable_recent_post_checkbox {
	display: none;
}

.wrapper-recent-post-form .recent_post_trigger {
	width: 50px;
	background-color: #f51c00;
	border-radius: 50px;
	height: 30px;
	display: block;
	position: relative;
}

.wrapper-recent-post-form .recent_post_trigger:before {
	content: '';
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-color: white;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 3px;
	transition: left .3s, background-color .3s;
}

.wrapper-recent-post-form .recent_post_trigger:after {
	content: '';
	    border-left: 2px solid #f51c00;
	    border-bottom: 2px solid #f51c00;
	    width: 16px;
	    height: 10px;
	    position: absolute;
	    z-index: 15;
	    transform: rotate(-45deg) translateY(-50%);
	    top: 40%;
	    left: 11px;

	    transition: left .3s;
}

.wrapper-recent-post-form #enable_recent_post_checkbox:checked + .recent_post_trigger:before {
	left: calc( 100% - 29px );
	background-color: white;
}

.wrapper-recent-post-form #enable_recent_post_checkbox:checked + .recent_post_trigger {
	background-color: #49d50f;
}

.wrapper-recent-post-form #enable_recent_post_checkbox:checked + .recent_post_trigger:after {
	border-left: 2px solid #49d50f;
	border-bottom: 2px solid #49d50f;
	left: 30px;
}

.custom_checkbox_wrap .checkbox-slider-left {
	color: #ff0000;
}

.custom_checkbox_wrap .checkbox-slider-right,
.custom_checkbox_wrap.checked .checkbox-slider-left {
	color: #bbbbbb;
}

.custom_checkbox_wrap.checked .checkbox-slider-right {
	color: #49d60d;
}

.recent-post-form input[type='number'] {
	-moz-appearance:textfield;
	width: 70px;
}
 
.recent-post-form input[type='number']::-webkit-outer-spin-button,
.recent-post-form input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.recent-post-form {
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
}

.recent-post-form > p {
	padding-right: 50px;
	width: 50%;
	flex-basis: 0 0 50%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recent-post-form select {
	border-radius: 50px;
	border: 1px solid #2973aa;
}

.page-wrap form label input[type="checkbox"] {
	display: none;
}

.pagination-wrap {
	display: flex;
	justify-content: center;
	padding: 15px;
}

.pagination-wrap_item.link {
	cursor: pointer;
}

.pagination-wrap_item {
	margin: 0 5px;
	padding: 10px;
	line-height: 1;
	color: #363b3f;
	border: 1px solid transparent;

	transition: all .3s;
}

.pagination-wrap_item:not(.span) {
	color: white;
	background-color: #363b3f;
}

.pagination-wrap_item.link:hover {
	text-decoration: none;
	background-color: white;
	border-color: #363b3f;
	color: #363b3f;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.top:after {
    content: '';
    display: table;
    clear: both;
}

.dataTables_wrapper .top {
	display: flex;
	flex-wrap: wrap;
}

.dataTables_wrapper .dataTables_length {
	order: 1;
	    width: 100%
}

.dataTables_wrapper .dataTables_filter {
	order: 3;
	width: 50%;
	margin-bottom: 15px;
}

.dataTables_wrapper .dataTables_info {
	order: 2;
	width: 50%;
}

.keyword-form-continue,
.keyword-form,
form.send_posts_to_server {
    position: absolute;
    bottom: 18px;
    max-width: 343px;
}

.keyword-form-continue {
	right: 0;
}

.submit-wrap {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.flex .columns {
	padding-right: 15px;
	/*padding-bottom: 15px;*/
}

.cat_filter_checkbox {
	position: relative;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;

    /*background-color: #77bef6;*/
	background-color: #fff;
    border: 1px solid #77bef6;
}

.page-wrap form label input[type="checkbox"]:checked + .cat_filter_checkbox {
	background-color: #77bef6;
	border: none;
}

.page-wrap form label input[type="checkbox"]:checked + .cat_filter_checkbox:before {
	content: '';
	position: absolute;
	top: 20%;
	left: 16%;
	transform: rotate(-51deg);
	width: 12px;
	height: 8px;
	background-color: transparent;
	border: 2px solid white;
	border-top: none;
	border-right: none;
}

.filter_wp_types {
	/*display: flex;*/
}

.header__item input[name="count_clicks_sort"] {
	background: none!important;
    text-transform: uppercase!important;
    padding: 0;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: initial!important;
    color: #434343;
    border: none;
}

.progress-bar-parent-wrap {
	color: white;
	/*overflow: hidden;*/
	display: none;
    position: absolute;
    width: 60%;
    left: 50%;
    top: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.progress-bar-wrap {
	border-radius: 50px;
    height: 30px;
    background-color: rgb(220, 220, 220);
}

.progress-bar-wrap span {
	font-size: 17px;
    display: block;
    text-align: center;
    padding: 12px 0 0;
}

.progress-count {
	/*position: absolute;*/
	/*width: 100px;*/
	/*height: 15px;*/
	/*left: 50%;*/
	/*transform: translate(-50%, -50%);*/
	/*top: 50%;*/
}	

.custom-progress-bar {
	border-radius: 50px;
	width: 0.1%;
	min-width: 30px;
	height: 100%;
	max-width: 100%;
	transition: width .4s;

	/*background: linear-gradient(-45deg, #2973aa, #47c1f1);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 4s ease infinite;*/
    /*background-color: #2973aa;*/

    background-color: #f1a92e;
}
	
.custom-progress-bar.full-width {
	width: 100%;
}

@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.ms-keyword-error {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 9999;
    font-size: 26px;
    font-weight: bold;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
    /*color: green;*/
    color: white;
}

.close-ms-keyword-error {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    z-index: 999;
    transform: rotate(45deg);
    outline: none!important;
    box-shadow: none!important;
}

.close-ms-keyword-error:after {
	content: '';
	background: white;
	position: absolute;
	height: 100%;
	width: 2px;
	left: 50%;
	transform: translateX(-50%);
}

.close-ms-keyword-error:before {
	content: '';
	background: white;
	position: absolute;
	width: 100%;
	height: 2px;
	top: 50%;
	transform: translateY(-50%);
}

span.add_keyword:before {
	content: '';
	width: 2px;
	height: 14px;
	left: 50%;
	position: absolute;
	background: #7fcc6e;
	transform: translate(-50%, -50%);
	top: 50%;
}

span.add_keyword:after {
	content: '';
	width: 14px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #7fcc6e;
	transform: translate(-50%, -50%);
	max-width: 100%;
}

span.add_keyword {
    /*background: green;*/
    width: 26px;
    position: relative;
    /*border-radius: 50px;*/
    height: 26px;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    margin-bottom: 5px;
    margin-right: 5px;
}

.edit_elem {
	min-width: 48px;
    display: inline-block;
}

.setting_message {
	/*opacity: 0;*/
	/*visibility: hidden;*/
	display: none;
	position: absolute;
    z-index: 11;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.setting_message.show {
	opacity: 1;
	visibility: visible;
}

.inner_setting_message {
	padding: 40px;
	font-size: 25px;
	box-shadow: 1px 1px 2px 1px black;
}

.close_setting_message {
	position: absolute;
	z-index: 10;
	right: 7px;
	top: 7px;
	cursor: pointer;
	display: inline-block;
	font-size: 19px;
}

.dataTables_info {
	padding-bottom: 15px;
}

.disable_second_stage + .wp-submenu.wp-submenu-wrap >li:nth-child(4),
.disable_third_stage + .wp-submenu.wp-submenu-wrap >li:nth-child(5),
.disable_fourth_stage + .wp-submenu.wp-submenu-wrap >li:nth-child(6) {
	pointer-events: none;
}

.kpiseo_info {
	/*color: #09af09;*/
	font-size: 18px;
}

.plugin_desc {
    max-width: 1050px;
    border: 1px solid #dce0e5;
    background-color: white;
    padding: 30px 15px;
    margin-bottom: 30px;
}

.tab_title {
	border-bottom: 1px solid #dce0e5;
	margin-bottom: 40px;
	padding-bottom: 20px;
	max-width: 100%;
	padding-top: 15px;
}

.tab_title h1,	
.tab_title p {
	font-size: 16px;
	margin-bottom: 0;
	margin-left: 20px;
}

.tab_title h1{
	font-size: 24px;
	margin-top: 0;
	line-height: 1;
}

/*SELECT2*/
/*.select2-container {
    width: auto!important;
    margin: 0 7px!important;
}

.dataTables_wrapper .dataTables_length label .select2-container {
    margin: 0 7px;
}

span.select2-selection.select2-selection--single {
    border: 1px solid #dce0e6;
}

span#select2-table_change_schema_length-5b-container {
    padding: 12px 10px;
    line-height: 1;
}

.dataTables_length .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100%!important;
    top: 0!important;
    width: 30px!important;
}

.dataTables_length .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 0 0 2px 2px!important;
    margin: 0;
    border-color: #888!important;
    width: 10px;
    height: 10px;
    transform: rotate(-45deg);
    left: 10px;
    top: calc(50% - 7px);
    position: absolute;
}

.select2-container .select2-selection--single {
    height: auto!important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 12px 10px;
    line-height: 1!important;
    padding-right: 30px!important;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    transform: rotate(135deg);
    top: calc(50% - 5px);
}

span.select2.select2-container.select2-container--default.select2-container--below.select2-container--open span.select2-selection.select2-selection--single {
    border-color: #77bef6;
}

.select2-dropdown {
    border: 1px solid #77bef6!important;
    border-top: none!important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #77bef6!important;
    color: white!important;
}

.dataTables_filter [type="search"] {
    border-radius: 4px;
    font-size: 13px;
    text-align: left;
    background-image: url(../image/search.png);
    background-position: 96% 5px;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 6px 30px 6px 10px;
    min-width: 300px;
}

span.select2-selection.select2-selection--single,
span.selection {
    outline: none!important;
}*/

.green_btn {
    background: #95cd89;
    color: white;
    padding: 4px 20px 5px;
    border-radius: 50px;
    line-height: 1;
}


.red_btn {
    background: red;
    color: white;
    padding: 4px 20px 5px;
    border-radius: 50px;
    line-height: 1;
}

button[data-event="close"] {
	background-color: #a0a0a0;
}

button[data-event="update_keywords"] {
	border: none;
    background-image: url(../img/update.png);
    width: 30px;
    height: 25px;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin-right: 15px;
    background-size: cover;
}

.keyword_title_link {
	max-width: 16px;
    display: inline-block;
    vertical-align: text-bottom;
    margin-left: 7px;
}

img {
	max-width: 100%;
	height: auto;
}

.textarea_wrap {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	max-width: 300px;
    width: 100%;
    z-index: 10;

    background: #e8e8e8;
    box-sizing: content-box;
    padding: 25px;
}

.overlay_textara_wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.7);
	left: 0;
	top: 0;
	z-index: 1;
}

.save_keywords_form textarea {
	width: 100%;
	min-height: 150px;
}
.save_keywords_form input{
	/*float: right;*/
	margin-top: 22px;	
}

.filters_wrap > div {
	padding-right: 50px;
}

.alice-footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	color: #555d66;
}

.alice-footer p {
	text-align: center;
}

.alice-footer ul {
	display: flex;
	justify-content: center;
}

.alice-footer ul li {
	position: relative;
    margin-right: 26px;
}

.alice-footer ul li a {
	color: #434343;
}

.alice-footer a {
	font-size: 14px;
}

.alice-footer ul li:not(:last-child):after {
	content: '/';
	position: absolute;
	right: -13px;
}

.desc_item {
    padding-left: 42px;
    position: relative;
    font-size: 16px;
    line-height: 1.4;
}

.desc_item:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #dce0e5;
}

.desc_item img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.desc_item:not(:last-child) img {
    top: calc(50% - 15px);
}

.btns_wrap {
    display: flex;
    justify-content: space-between;
    max-width: 1050px;
    margin-bottom: 80px;
}

.btn.ok{
	padding-left: 63px;
    position: relative;
    padding-right: 40px;
}

.btn.alice {
	padding-left: 69px;
    position: relative;
    padding-right: 40px;
}

.btn.save,
.btn.play {
	padding-left: 67px;
    position: relative;
    padding-right: 40px;
}

.btn.doc {
	padding-left: 77px;
    position: relative;
    padding-right: 40px;
}

.btn.play:before {
	content: '';
	background-image: url('../img/play.png');
	width: 17px;
	height: 16px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: calc(50% - 8px);
}

.btn.doc:before {
	content: '';
	background-image: url('../img/doc.png');
	width: 27px;
	height: 16px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: calc(50% - 8px);
}

.btn.save:before {
	content: '';
	background-image: url('../img/save.png');
	width: 17px;
	height: 17px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: calc(50% - 8px);
}

.btn.ok:before {
	content: '';
	background-image: url('../img/ok.png');
	width: 13px;
	height: 16px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: calc(50% - 8px);
}

.btn.alice:before {
	content: '';
	background-image: url('../img/alice.png');
	width: 19px;
	height: 16px;
	display: inline-block;
	position: absolute;
	left: 40px;
	top: calc(50% - 8px);
}

.question-tooltip {

}

.open_choose:first-child {
	margin-right: 84px;
}

.open_choose {
	cursor: pointer;
	position: relative;
}

.open_choose:after {
	content: '';
    border-left: 2px solid;
    border-top: 2px solid;
    width: 8px;
    height: 8px;
    top: 60%;
    right: -10px;
    position: absolute;
    transform: rotate(45deg) translateY(-50%);
}

.show_list:after {
	border: none;
	border-right: 2px solid;
	border-bottom: 2px solid;
	top: 45%;
}

[data-name="select_cat"] {
    left: 0;
    top: 65px;
}

[data-name="select_type"] {
    top: 65px;
    right: 0;
}

.show_list + .select_list {
	position: absolute;
    background: white;
    z-index: 10;
    padding: 10px;

    display: block !important;
    visibility: visible !important;
}

.filters_wrap {
	position: relative;
	max-width: 540px;
	padding-top: 20px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.stat-page .tab_title {
	margin-bottom: 0;
}

.dataTables_filter [type="search"] {
	border-radius: 4px;
    font-size: 13px;
    text-align: left;
    background-image: url(../img/search.png);
    background-position: 96% 5px;
    background-size: auto;
    background-repeat: no-repeat;
    padding: 6px 30px 6px 10px;
    min-width: 300px;
}

.dataTables_filter > label:first-child {
	font-size: 0;
}

#wpbody-content {
    padding-bottom: 130px;
}

.open_all {
	float: right;
	margin-bottom: 0;
}

.event_all_accordion.red {
	color: #e39496;
	border: 1px solid #e39496;
	background: transparent;
	outline: none;
	border-radius: 3px;

	transition: all .3s;
}

.event_all_accordion.red:hover {
	background-color: #e39496;
	color: white;
}

/*.keyword-info .mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background-color: white;
	    width: 6px;
}*/

.keyword-info .mCSB_scrollTools .mCSB_draggerRail {
	background-color: white;
}

.keyword-info .mCSB_scrollTools .mCSB_draggerContainer {
	right: -7px;
}

.preview_block_wrap {
	max-width: 540px;
}

.css-settings {
	display: flex;
	flex-wrap: wrap;
}

.css-settings p {
	margin-top: 0;
	    margin-bottom: 15px;
}

.css-settings > div {
	margin-right: 40px;
}

.submit_wrap {
	width: 100%;
}

.preview_block > p {
	float: left;
	margin-right: 15px;
}

.fixed_head {
	/*opacity: 0;
	visibility: hidden;
	height: 0;*/
	display: none;
	position: fixed;
    top: 32px;
    z-index: 1;
    left: 180px;
    border-left: 1px solid #dce0e5;
}

form.add_class {
    display: flex;
}

.add_class.global {
	margin-top: 15px;
	margin-bottom: 30px;
}

input[name="class_name_to_add"] {
    margin-right: 15px;
}

.filters_for_class ul { 
	display: flex;
	flex-wrap: wrap;
}

.filters_for_class ul li {
	flex-basis: 50%;
}